/ConstructorsDemo/build/
/ConstructorsDemo/nbproject/private/
/ScannerDemo/nbproject/private/
/ScannerDemo/build/
/ScannerDemo2/nbproject/private/
/ScannerDemo2/build/
/JUnitDemOCarol/nbproject/private/
/BandiJUnitDemo/nbproject/private/
/BandiJUnitDemo/build/
/JUnitDemoSp2019/nbproject/private/
/JUnitDemoSp2019/build/
/EnumDemo/nbproject/private/
/EnumDemo/build/
/JUnitDemo/nbproject/private/
/JUnitDemo/build/
/InheritanceDemo/nbproject/private/
/InheritanceDemo/build/
/SortingDemo/nbproject/private/
/SortingDemo/build/